openapi: 3.0.0
info:
  title: Drista Cloud Solutions ERP - Ziddi Mumbaikar NGO API
  description: |
    Multi-tenant SaaS platform API for NGO & CSR management with comprehensive features including:
    - Program & Project management (NGO + CSR dual-mode)
    - Campaign management & fundraising
    - Project fund tracking & utilization
    - Activity management & expense tracking
    - Donation processing
    - Zakat & Qurbani management
    - Volunteer coordination
    - Beneficiary assistance programs
    - Content management
    - Event management
    - FCRA & CSR Schedule VII compliance
  version: 1.0.0
  contact:
    name: Drista Cloud Solutions
    email: api@dristasolutions.com
  license:
    name: Proprietary
    url: https://dristasolutions.com/license

servers:
  - url: https://api.ziddi-mumbaikar.com/v1
    description: Production server
  - url: https://staging-api.ziddi-mumbaikar.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Tenants
    description: Tenant/NGO management
  - name: Users
    description: User accounts and profiles
  - name: Fundraisers
    description: Fundraising campaigns
  - name: Donors
    description: Donor management and relationship tracking
  - name: Donations
    description: Donation processing and tracking
  - name: Beneficiaries
    description: Beneficiary management and assistance programs
  - name: Volunteers
    description: Volunteer recruitment and management
  - name: Programs
    description: NGO/CSR programs and services - top-level thematic areas
  - name: Projects
    description: Time-bound, budget-bound initiatives under programs
  - name: Campaigns
    description: Fundraising campaigns linked to projects
  - name: ProjectFunds
    description: Fund allocations, receipts, and utilizations for projects
  - name: Activities
    description: Measurable work items under projects
  - name: ActivityExpenses
    description: Actual expenses incurred during activities
  - name: Events
    description: Event management
  - name: Zakat
    description: Zakat calculations and distributions
  - name: Qurbani
    description: Qurbani/Udhiyah bookings
  - name: Content
    description: Pages, blog posts, and testimonials
  - name: Media
    description: Media library management and file uploads
  - name: Settings
    description: Site settings and configuration
  - name: Audit
    description: Audit logs and activity tracking
  - name: NGO Services
    description: NGO specialized services and booking management
  - name: Finance
    description: Chart of Accounts, Double Entry Journal, and Ledger

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login endpoint

  headers:
    X-Tenant-ID:
      schema:
        type: string
        format: uuid
      description: Tenant ID for multi-tenant operations
      required: true

  parameters:
    TenantID:
      name: tenant-id
      in: header
      description: Tenant UUID for multi-tenant isolation
      required: true
      schema:
        type: string
        format: uuid
    
    Page:
      name: page
      in: query
      description: Page number (1-indexed)
      schema:
        type: integer
        default: 1
        minimum: 1
    
    Limit:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    
    SortBy:
      name: sort_by
      in: query
      description: Field to sort by
      schema:
        type: string
    
    SortOrder:
      name: sort_order
      in: query
      description: Sort order (asc/desc)
      schema:
        type: string
        enum: [asc, desc]
        default: desc
    
    ResourceID:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    # ==================== COMMON SCHEMAS ====================
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: VALIDATION_ERROR
        message:
          type: string
          example: Invalid input provided
        details:
          type: object
          additionalProperties: true

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        total_pages:
          type: integer
          example: 8

    PaginatedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ==================== AUTHENTICATION ====================
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIs...
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIs...
        expires_in:
          type: integer
          description: Token expiry in seconds
          example: 3600
        user:
          $ref: '#/components/schemas/User'

    RegisterRequest:
      type: object
      required:
        - first_name
        - last_name
        - email
        - password
        - password_confirm
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        password_confirm:
          type: string
          format: password
        phone:
          type: string
        organization_name:
          type: string

    # ==================== TENANTS ====================
    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        legal_name: { type: string }
        subdomain: { type: string }
        website: { type: string }
        logo_url: { type: string }
        business_type: { type: string }
        industry: { type: string }
        year_founded: { type: integer }
        company_size: { type: string }
        phone: { type: string }
        email: { type: string, format: email }
        street_address: { type: string }
        city: { type: string }
        state: { type: string }
        postal_code: { type: string }
        country: { type: string, default: India }
        country_code: { type: string }
        registration_number: { type: string }
        tax_id: { type: string }
        vat_number: { type: string }
        ngo_80g: { type: string }
        ngo_12a: { type: string }
        pan_number: { type: string }
        billing_contact_name: { type: string }
        billing_contact_email: { type: string, format: email }
        billing_contact_phone: { type: string }
        technical_contact_name: { type: string }
        technical_contact_email: { type: string, format: email }
        technical_contact_phone: { type: string }
        status: { $ref: '#/components/schemas/TenantStatus' }
        subscription_status: { $ref: '#/components/schemas/TenantSubscriptionStatus' }
        plan: { $ref: '#/components/schemas/TenantPlan' }
        timezone: { type: string, default: Asia/Kolkata }
        locale: { type: string, default: en-IN }
        currency: { type: string, default: INR }
        date_format: { type: string, default: DD/MM/YYYY }
        number_format: { type: string, default: '#,##,###.##' }
        settings: { type: object }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    TenantStatus:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }

    TenantPlan:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        monthly_price: { type: number }
        annual_price: { type: number }
        currency: { type: string }
        features: { type: object }
        max_users: { type: integer }
        max_beneficiaries: { type: integer }
        max_fundraisers: { type: integer }

    TenantSubscriptionStatus:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }

    TenantTaxDetail:
      type: object
      properties:
        id: { type: string, format: uuid }
        state_code: { type: string }
        gst_number: { type: string }
        pan_number: { type: string }
        tan_number: { type: string }
        msme_number: { type: string }
        is_primary: { type: boolean }
        address_line1: { type: string }
        address_line2: { type: string }
        city: { type: string }
        state: { type: string }
        postal_code: { type: string }

    TenantAddress:
      type: object
      properties:
        id: { type: string, format: uuid }
        address_type: { type: string }
        address_line1: { type: string }
        address_line2: { type: string }
        city: { type: string }
        state: { type: string }
        postal_code: { type: string }
        country: { type: string }
        is_primary: { type: boolean }

    TenantBankAccount:
      type: object
      properties:
        id: { type: string, format: uuid }
        bank_name: { type: string }
        account_number: { type: string }
        ifsc_code: { type: string }
        bank_branch: { type: string }
        account_type: { type: string }
        is_primary: { type: boolean }

    TenantLicense:
      type: object
      properties:
        id: { type: string, format: uuid }
        license_type: { type: string }
        license_number: { type: string }
        expiry_date: { type: string, format: date }
        file_url: { type: string }

    TenantCreateRequest:
      type: object
      required: [name, subdomain, email, plan_id]
      properties:
        name: { type: string, minLength: 3, maxLength: 255 }
        legal_name: { type: string }
        subdomain: { type: string, pattern: '^[a-z0-9-]+$', minLength: 3, maxLength: 100 }
        email: { type: string, format: email }
        owner_email: { type: string, format: email }
        business_type: { type: string }
        industry: { type: string }
        website: { type: string, format: uri }
        phone: { type: string }
        plan_id: { type: string, format: uuid }
        street_address: { type: string }
        city: { type: string }
        state: { type: string }
        postal_code: { type: string }
        country: { type: string, default: India }

    TenantUpdateRequest:
      type: object
      properties:
        name: { type: string }
        legal_name: { type: string }
        website: { type: string }
        logo_url: { type: string }
        business_type: { type: string }
        industry: { type: string }
        year_founded: { type: integer }
        company_size: { type: string }
        phone: { type: string }
        email: { type: string }
        street_address: { type: string }
        city: { type: string }
        state: { type: string }
        postal_code: { type: string }
        registration_number: { type: string }
        tax_id: { type: string }
        vat_number: { type: string }
        ngo_80g: { type: string }
        ngo_12a: { type: string }
        pan_number: { type: string }
        billing_contact_name: { type: string }
        billing_contact_email: { type: string }
        billing_contact_phone: { type: string }
        technical_contact_name: { type: string }
        technical_contact_email: { type: string }
        technical_contact_phone: { type: string }
        timezone: { type: string }
        locale: { type: string }
        currency: { type: string }
        date_format: { type: string }
        number_format: { type: string }
        settings: { type: object }

    # ==================== ROLES ====================
    UserRole:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        permissions: { type: object }
        is_system: { type: boolean }
        display_order: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    UserRoleCreateRequest:
      type: object
      required: [name]
      properties:
        name: { type: string }
        description: { type: string }
        permissions: { type: object }
        display_order: { type: integer }

    UserRoleUpdateRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        permissions: { type: object }
        display_order: { type: integer }

    # ==================== USERS ====================
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        avatar_url:
          type: string
        role:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        status:
          type: string
          enum: [active, inactive, pending, suspended, deleted]
        email_verified:
          type: boolean
        last_login_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserCreateRequest:
      type: object
      required:
        - first_name
        - last_name
        - email
        - password
        - role_id
      properties:
        first_name:
          type: string
          minLength: 1
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        role_id:
          type: string
          format: uuid
        phone:
          type: string

    UserUpdateRequest:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        avatar_url:
          type: string
        bio:
          type: string

    # ==================== DONORS ====================
    Donor:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
          nullable: true
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        pan_number:
          type: string
        donor_type:
          type: string
          enum: [individual, corporate, institution, trust]
          default: individual
        donor_tier:
          type: string
          enum: [platinum, gold, silver, bronze, regular]
          nullable: true
        is_anonymous:
          type: boolean
        lifetime_donation_amount:
          type: number
          format: decimal
        total_donations:
          type: integer
        last_donation_date:
          type: string
          format: date-time
          nullable: true
        first_donation_date:
          type: string
          format: date-time
          nullable: true
        preferred_donation_type:
          type: string
          enum: [zakat, qurbani, sadaqah, general]
        preferred_fundraiser_category:
          type: string
        communication_preference:
          type: string
          enum: [email, sms, whatsapp, none]
          default: email
        newsletter_subscribed:
          type: boolean
        do_not_contact:
          type: boolean
        address:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
        referred_by:
          type: string
          format: uuid
          nullable: true
        notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DonorCreateRequest:
      type: object
      required:
        - first_name
        - email
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        pan_number:
          type: string
        donor_type:
          type: string
          enum: [individual, corporate, institution, trust]
        donor_tier:
          type: string
          enum: [platinum, gold, silver, bronze, regular]
        is_anonymous:
          type: boolean
        preferred_donation_type:
          type: string
          enum: [zakat, qurbani, sadaqah, general]
        preferred_fundraiser_category:
          type: string
        communication_preference:
          type: string
          enum: [email, sms, whatsapp, none]
        address:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
        referred_by:
          type: string
          format: uuid
        notes:
          type: string

    DonorUpdateRequest:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        pan_number:
          type: string
        donor_tier:
          type: string
          enum: [platinum, gold, silver, bronze, regular]
        preferred_donation_type:
          type: string
          enum: [zakat, qurbani, sadaqah, general]
        preferred_fundraiser_category:
          type: string
        communication_preference:
          type: string
          enum: [email, sms, whatsapp, none]
        newsletter_subscribed:
          type: boolean
        do_not_contact:
          type: boolean
        address:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
        notes:
          type: string

    # ==================== FUNDRAISERS ====================
    Fundraiser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        short_description:
          type: string
        description:
          type: string
        category:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        goal_amount:
          type: number
          format: decimal
        raised_amount:
          type: number
          format: decimal
        donor_count:
          type: integer
        completion_percentage:
          type: number
          format: float
        currency:
          type: string
          default: INR
        status:
          type: string
          enum: [draft, pending_review, active, paused, completed, cancelled, rejected]
        is_featured:
          type: boolean
        is_urgent:
          type: boolean
        is_zakat_eligible:
          type: boolean
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        beneficiary_name:
          type: string
        beneficiary_story:
          type: string
        cover_image_url:
          type: string
        branch:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        created_by:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    FundraiserCreateRequest:
      type: object
      required:
        - title
        - description
        - goal_amount
        - category_id
      properties:
        title:
          type: string
          minLength: 5
          maxLength: 300
        slug:
          type: string
        short_description:
          type: string
          maxLength: 500
        description:
          type: string
          minLength: 20
        category_id:
          type: string
          format: uuid
        goal_amount:
          type: number
          format: decimal
          minimum: 0.01
        beneficiary_name:
          type: string
        beneficiary_story:
          type: string
        cover_image_url:
          type: string
        is_zakat_eligible:
          type: boolean
          default: false
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        branch_id:
          type: string
          format: uuid

    FundraiserUpdateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        short_description:
          type: string
        category_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending_review, active, paused, completed, cancelled]
        goal_amount:
          type: number
          format: decimal
        is_featured:
          type: boolean
        is_urgent:
          type: boolean

    # ==================== DONATIONS ====================
    Donation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        donation_number:
          type: string
        donor_id:
          type: string
          format: uuid
          description: Reference to donor from donors table
        donor:
          $ref: '#/components/schemas/Donor'
        fundraiser:
          type: object
          properties:
            id:
              type: string
              format: uuid
            title:
              type: string
        amount:
          type: number
          format: decimal
        currency:
          type: string
        donation_type:
          type: string
          enum: [general, zakat, sadaqah, fitrah, qurbani]
        payment_method:
          type: string
          enum: [upi, card, net_banking, wallet, bank_transfer, cash, cheque]
        status:
          type: string
          enum: [pending, completed, failed, refunded, cancelled]
        is_anonymous:
          type: boolean
        transaction_id:
          type: string
        is_recurring:
          type: boolean
        receipt_sent:
          type: boolean
        tax_certificate:
          type: object
          properties:
            id:
              type: string
              format: uuid
            certificate_number:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DonationCreateRequest:
      type: object
      required:
        - fundraiser_id
        - amount
        - payment_method
      properties:
        fundraiser_id:
          type: string
          format: uuid
        donor_id:
          type: string
          format: uuid
          description: Reference to existing donor (optional)
        amount:
          type: number
          format: decimal
          minimum: 1
        donation_type:
          type: string
          enum: [general, zakat, sadaqah, fitrah, qurbani]
          default: general
        payment_method:
          type: string
          enum: [upi, card, net_banking, wallet, bank_transfer, cash, cheque]
        donor_name:
          type: string
        donor_email:
          type: string
          format: email
        donor_phone:
          type: string
        donor_pan:
          type: string
        is_anonymous:
          type: boolean
          default: false
        message:
          type: string
        payment_gateway:
          type: string

    # ==================== BENEFICIARIES ====================
    Beneficiary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        full_name:
          type: string
        phone:
          type: string
        gender:
          type: string
          enum: [male, female, other]
        date_of_birth:
          type: string
          format: date
        address:
          type: string
        city:
          type: string
        state:
          type: string
        aid_type:
          type: string
          enum: [medical, education, food, financial, marriage, business_setup, emergency, clothing, shelter]
        case_description:
          type: string
        branch:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        verification_status:
          type: string
          enum: [pending, verified, rejected]
        is_active:
          type: boolean
        total_aid_received:
          type: number
          format: decimal
        aid_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BeneficiaryCreateRequest:
      type: object
      required:
        - full_name
        - phone
        - aid_type
      properties:
        full_name:
          type: string
          minLength: 2
        phone:
          type: string
        gender:
          type: string
          enum: [male, female, other]
        date_of_birth:
          type: string
          format: date
        address:
          type: string
        city:
          type: string
        state:
          type: string
        aid_type:
          type: string
          enum: [medical, education, food, financial, marriage, business_setup, emergency, clothing, shelter]
        case_description:
          type: string
        branch_id:
          type: string
          format: uuid

    MapBeneficiaryToProjectRequest:
      type: object
      required:
        - project_id
      properties:
        project_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, inactive, completed, dropped]
        notes:
          type: string

    MapBeneficiaryToCampaignRequest:
      type: object
      required:
        - campaign_id
      properties:
        campaign_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, inactive, completed, dropped]
        notes:
          type: string

    AddBeneficiaryAddressRequest:
      type: object
      required:
        - address_line_1
        - city
        - state
        - postal_code
        - country
        - address_type
      properties:
        address_line_1:
          type: string
        address_line_2:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
        address_type:
          type: string
          enum: [permanent, current, office, other]
        is_primary:
          type: boolean

    AddBeneficiaryBankAccountRequest:
      type: object
      required:
        - bank_name
        - account_holder_name
        - account_number
        - ifsc_code
      properties:
        bank_name:
          type: string
        account_holder_name:
          type: string
        account_number:
          type: string
        ifsc_code:
          type: string
        branch_name:
          type: string
        is_primary:
          type: boolean

    # ==================== VOLUNTEERS ====================
    Volunteer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        gender:
          type: string
          enum: [male, female, other]
        date_of_birth:
          type: string
          format: date
        occupation:
          type: string
        skills:
          type: array
          items:
            type: string
        availability:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        motivation:
          type: string
        status:
          type: string
          enum: [applied, approved, active, inactive, rejected]
        branch:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        total_hours:
          type: number
          format: decimal
        activity_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    VolunteerCreateRequest:
      type: object
      required:
        - first_name
        - email
        - phone
      properties:
        first_name:
          type: string
          minLength: 1
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        gender:
          type: string
          enum: [male, female, other]
        date_of_birth:
          type: string
          format: date
        occupation:
          type: string
        skills:
          type: array
          items:
            type: string
        availability:
          type: string
        address:
          type: string
        city:
          type: string
        motivation:
          type: string
        preferred_branch_id:
          type: string
          format: uuid

    VolunteerActivity:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        volunteer_id: { type: string, format: uuid }
        activity_type: { type: string }
        description: { type: string }
        hours_served: { type: number, format: decimal }
        activity_date: { type: string, format: date-time }
        event_id: { type: string, format: uuid, nullable: true }
        branch_id: { type: string, format: uuid }
        verified_by: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }

    # ==================== PROGRAMS (Enhanced for NGO + CSR) ====================
    Program:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        short_description: { type: string }
        description: { type: string }
        program_type: { type: string }
        context:
          type: string
          enum: [ngo, csr, hybrid]
          description: Whether this is an NGO program, CSR initiative, or hybrid
        sector: { type: string }
        sub_sector: { type: string }
        csr_schedule_vii_item: { type: string }
        csr_schedule_vii_description: { type: string }
        sdg_goals:
          type: array
          items: { type: integer }
          description: UN Sustainable Development Goal numbers
        geographical_scope:
          type: string
          enum: [local, state, national, international]
        target_locations:
          type: array
          items: { type: string }
        focus_areas:
          type: array
          items: { type: string }
        target_beneficiary_groups:
          type: array
          items: { type: string }
        total_budget: { type: number, format: decimal }
        total_spent: { type: number, format: decimal }
        currency: { type: string, default: INR }
        fcra_applicable: { type: boolean }
        fcra_registration_number: { type: string }
        niti_aayog_id: { type: string }
        program_director:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        department: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        is_active: { type: boolean }
        cover_image_url: { type: string }
        icon_url: { type: string }
        display_order: { type: integer }
        statistics:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              value: { type: string }
        project_count: { type: integer, description: Number of projects under this program }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProgramCreateRequest:
      type: object
      required: [name, description]
      properties:
        name: { type: string, minLength: 3 }
        slug: { type: string }
        short_description: { type: string }
        description: { type: string, minLength: 20 }
        program_type: { type: string }
        context: { type: string, enum: [ngo, csr, hybrid], default: ngo }
        sector: { type: string }
        sub_sector: { type: string }
        csr_schedule_vii_item: { type: string }
        csr_schedule_vii_description: { type: string }
        sdg_goals:
          type: array
          items: { type: integer }
        geographical_scope: { type: string, enum: [local, state, national, international] }
        target_locations:
          type: array
          items: { type: string }
        focus_areas:
          type: array
          items: { type: string }
        target_beneficiary_groups:
          type: array
          items: { type: string }
        total_budget: { type: number, format: decimal }
        currency: { type: string, default: INR }
        fcra_applicable: { type: boolean }
        fcra_registration_number: { type: string }
        niti_aayog_id: { type: string }
        program_director_id: { type: string, format: uuid }
        department: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        cover_image_url: { type: string }
        icon_url: { type: string }
        display_order: { type: integer }

    ProgramUpdateRequest:
      type: object
      properties:
        name: { type: string }
        short_description: { type: string }
        description: { type: string }
        program_type: { type: string }
        context: { type: string, enum: [ngo, csr, hybrid] }
        sector: { type: string }
        sub_sector: { type: string }
        csr_schedule_vii_item: { type: string }
        sdg_goals:
          type: array
          items: { type: integer }
        geographical_scope: { type: string, enum: [local, state, national, international] }
        total_budget: { type: number, format: decimal }
        fcra_applicable: { type: boolean }
        program_director_id: { type: string, format: uuid }
        department: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        is_active: { type: boolean }
        cover_image_url: { type: string }
        icon_url: { type: string }

    # ==================== PROJECTS ====================
    Project:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        program_id: { type: string, format: uuid }
        program:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        project_code: { type: string }
        name: { type: string }
        slug: { type: string }
        short_description: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        context:
          type: string
          enum: [ngo, csr, hybrid]
        project_type: { type: string }
        sector: { type: string }
        sub_sector: { type: string }
        csr_schedule_vii_item: { type: string }
        csr_company_id: { type: string, format: uuid }
        csr_fiscal_year: { type: string }
        csr_prescribed_amount: { type: number, format: decimal }
        is_ongoing_csr_project: { type: boolean }
        sdg_goals:
          type: array
          items: { type: integer }
        geographical_scope: { type: string }
        implementation_locations: { type: array, items: { type: object } }
        total_budget: { type: number, format: decimal }
        sanctioned_budget: { type: number, format: decimal }
        total_funds_received: { type: number, format: decimal }
        total_spent: { type: number, format: decimal }
        currency: { type: string, default: INR }
        target_beneficiaries: { type: integer }
        actual_beneficiaries: { type: integer }
        target_outcomes: { type: object }
        actual_outcomes: { type: object }
        status:
          type: string
          enum: [draft, proposed, approved, in_progress, on_hold, completed, closed, cancelled]
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        actual_start_date: { type: string, format: date }
        actual_end_date: { type: string, format: date }
        project_manager:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        branch:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        fcra_applicable: { type: boolean }
        fcra_project_number: { type: string }
        is_audited: { type: boolean }
        tags:
          type: array
          items: { type: string }
        campaign_count: { type: integer }
        activity_count: { type: integer }
        fund_source_count: { type: integer }
        budget_utilization_pct: { type: number, format: float }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProjectCreateRequest:
      type: object
      required: [program_id, project_code, name]
      properties:
        program_id: { type: string, format: uuid }
        project_code: { type: string, minLength: 2, maxLength: 50 }
        name: { type: string, minLength: 3, maxLength: 300 }
        slug: { type: string }
        short_description: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        context: { type: string, enum: [ngo, csr, hybrid], default: ngo }
        project_type: { type: string }
        sector: { type: string }
        sub_sector: { type: string }
        csr_schedule_vii_item: { type: string }
        csr_company_id: { type: string, format: uuid }
        csr_fiscal_year: { type: string }
        csr_prescribed_amount: { type: number, format: decimal }
        is_ongoing_csr_project: { type: boolean }
        sdg_goals:
          type: array
          items: { type: integer }
        geographical_scope: { type: string, enum: [local, state, national, international] }
        implementation_locations:
          type: array
          items: { type: object }
        total_budget: { type: number, format: decimal }
        sanctioned_budget: { type: number, format: decimal }
        currency: { type: string, default: INR }
        target_beneficiaries: { type: integer }
        target_outcomes: { type: object }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        project_manager_id: { type: string, format: uuid }
        branch_id: { type: string, format: uuid }
        fcra_applicable: { type: boolean }
        fcra_project_number: { type: string }
        tags:
          type: array
          items: { type: string }

    ProjectUpdateRequest:
      type: object
      properties:
        name: { type: string }
        short_description: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        context: { type: string, enum: [ngo, csr, hybrid] }
        project_type: { type: string }
        sector: { type: string }
        csr_schedule_vii_item: { type: string }
        csr_fiscal_year: { type: string }
        sdg_goals:
          type: array
          items: { type: integer }
        total_budget: { type: number, format: decimal }
        sanctioned_budget: { type: number, format: decimal }
        target_beneficiaries: { type: integer }
        actual_beneficiaries: { type: integer }
        target_outcomes: { type: object }
        actual_outcomes: { type: object }
        status: { type: string, enum: [draft, proposed, approved, in_progress, on_hold, completed, closed, cancelled] }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        actual_start_date: { type: string, format: date }
        actual_end_date: { type: string, format: date }
        project_manager_id: { type: string, format: uuid }
        branch_id: { type: string, format: uuid }
        fcra_applicable: { type: boolean }
        tags:
          type: array
          items: { type: string }

    ProjectTeamMember:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        user:
          type: object
          properties:
            id: { type: string, format: uuid }
            first_name: { type: string }
            last_name: { type: string }
            email: { type: string }
        role: { type: string }
        designation: { type: string }
        is_primary_contact: { type: boolean }
        joined_at: { type: string, format: date }
        left_at: { type: string, format: date, nullable: true }
        is_active: { type: boolean }

    ProjectTeamMemberRequest:
      type: object
      required: [user_id, role]
      properties:
        user_id: { type: string, format: uuid }
        role: { type: string }
        designation: { type: string }
        is_primary_contact: { type: boolean }

    ProjectMilestone:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        target_date: { type: string, format: date }
        completion_date: { type: string, format: date, nullable: true }
        status: { type: string, enum: [pending, in_progress, completed, delayed, cancelled] }
        completion_percentage: { type: number, format: float }
        deliverables:
          type: array
          items: { type: string }
        display_order: { type: integer }

    ProjectMilestoneRequest:
      type: object
      required: [title]
      properties:
        title: { type: string }
        description: { type: string }
        target_date: { type: string, format: date }
        status: { type: string, enum: [pending, in_progress, completed, delayed, cancelled] }
        completion_percentage: { type: number, format: float }
        deliverables:
          type: array
          items: { type: string }
        display_order: { type: integer }

    ProjectDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        document_type: { type: string }
        title: { type: string }
        file_url: { type: string }
        file_name: { type: string }
        file_size: { type: integer }
        description: { type: string }
        version: { type: string }
        is_public: { type: boolean }
        uploaded_by:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        created_at: { type: string, format: date-time }

    ProjectDocumentRequest:
      type: object
      required: [document_type, title, file_url]
      properties:
        document_type: { type: string, enum: [mou, agreement, proposal, report, uc, audit_report, compliance] }
        title: { type: string }
        file_url: { type: string }
        file_name: { type: string }
        file_size: { type: integer }
        description: { type: string }
        version: { type: string }
        is_public: { type: boolean }

    # ==================== CAMPAIGNS ====================
    Campaign:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        project:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            project_code: { type: string }
        campaign_code: { type: string }
        name: { type: string }
        slug: { type: string }
        short_description: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        campaign_type:
          type: string
          enum: [fundraising, crowdfunding, corporate_csr, grant, government_scheme, internal, matching_fund, endowment]
        context: { type: string, enum: [ngo, csr, hybrid] }
        goal_amount: { type: number, format: decimal }
        minimum_amount: { type: number, format: decimal }
        raised_amount: { type: number, format: decimal }
        donor_count: { type: integer }
        completion_pct: { type: number, format: float }
        currency: { type: string, default: INR }
        csr_company_id: { type: string, format: uuid, nullable: true }
        csr_fiscal_year: { type: string, nullable: true }
        is_zakat_eligible: { type: boolean }
        is_sadaqah_eligible: { type: boolean }
        is_lillah_eligible: { type: boolean }
        is_interest_eligible: { type: boolean }
        is_tax_deductible: { type: boolean }
        tax_exemption_percentage: { type: number }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        status:
          type: string
          enum: [draft, pending_approval, active, paused, target_reached, completed, cancelled]
        is_featured: { type: boolean }
        is_urgent: { type: boolean }
        is_recurring: { type: boolean }
        is_public: { type: boolean }
        visibility_scope: { type: string, enum: [public, registered_users, donors_only, internal] }
        fundraiser_id: { type: string, format: uuid, nullable: true }
        managed_by:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        branch:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        tags:
          type: array
          items: { type: string }
        meta_title: { type: string }
        meta_description: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CampaignCreateRequest:
      type: object
      required: [project_id, campaign_code, name, goal_amount]
      properties:
        project_id: { type: string, format: uuid }
        campaign_code: { type: string }
        name: { type: string, minLength: 3 }
        slug: { type: string }
        short_description: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        campaign_type: { type: string, enum: [fundraising, crowdfunding, corporate_csr, grant, government_scheme, internal, matching_fund, endowment] }
        context: { type: string, enum: [ngo, csr, hybrid], default: ngo }
        goal_amount: { type: number, format: decimal, minimum: 1 }
        minimum_amount: { type: number, format: decimal }
        currency: { type: string, default: INR }
        csr_company_id: { type: string, format: uuid }
        csr_fiscal_year: { type: string }
        csr_contribution_type: { type: string }
        is_zakat_eligible: { type: boolean }
        is_sadaqah_eligible: { type: boolean }
        is_lillah_eligible: { type: boolean }
        is_interest_eligible: { type: boolean }
        is_tax_deductible: { type: boolean }
        tax_exemption_percentage: { type: number }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        is_featured: { type: boolean }
        is_urgent: { type: boolean }
        is_recurring: { type: boolean }
        is_public: { type: boolean, default: true }
        visibility_scope: { type: string, enum: [public, registered_users, donors_only, internal] }
        fundraiser_id: { type: string, format: uuid }
        managed_by_id: { type: string, format: uuid }
        branch_id: { type: string, format: uuid }
        tags:
          type: array
          items: { type: string }
        meta_title: { type: string }
        meta_description: { type: string }

    CampaignUpdateRequest:
      type: object
      properties:
        name: { type: string }
        short_description: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        campaign_type: { type: string, enum: [fundraising, crowdfunding, corporate_csr, grant, government_scheme, internal, matching_fund, endowment] }
        goal_amount: { type: number, format: decimal }
        is_zakat_eligible: { type: boolean }
        is_sadaqah_eligible: { type: boolean }
        is_tax_deductible: { type: boolean }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        status: { type: string, enum: [draft, pending_approval, active, paused, target_reached, completed, cancelled] }
        is_featured: { type: boolean }
        is_urgent: { type: boolean }
        is_public: { type: boolean }
        tags:
          type: array
          items: { type: string }

    CampaignContribution:
      type: object
      properties:
        id: { type: string, format: uuid }
        campaign_id: { type: string, format: uuid }
        donation_id: { type: string, format: uuid, nullable: true }
        donor_id: { type: string, format: uuid, nullable: true }
        amount: { type: number, format: decimal }
        currency: { type: string }
        contribution_type: { type: string, enum: [monetary, in_kind, services] }
        donation_type: { type: string }
        in_kind_description: { type: string, nullable: true }
        in_kind_estimated_value: { type: number, format: decimal, nullable: true }
        csr_company_name: { type: string, nullable: true }
        status: { type: string, enum: [pending, completed, failed, refunded] }
        is_anonymous: { type: boolean }
        receipt_number: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    CampaignContributionRequest:
      type: object
      required: [amount]
      properties:
        donation_id: { type: string, format: uuid }
        donor_id: { type: string, format: uuid }
        amount: { type: number, format: decimal, minimum: 1 }
        contribution_type: { type: string, enum: [monetary, in_kind, services], default: monetary }
        donation_type: { type: string }
        in_kind_description: { type: string }
        in_kind_estimated_value: { type: number, format: decimal }
        csr_company_name: { type: string }
        csr_fiscal_year: { type: string }
        is_anonymous: { type: boolean }
        notes: { type: string }

    # ==================== PROJECT FUNDS ====================
    ProjectFund:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        fund_reference: { type: string }
        description: { type: string }
        source_type:
          type: string
          enum: [donation, csr_contribution, grant, government, corporate_sponsorship, internal_transfer, interest_income, fundraiser_collection, endowment_yield, foreign_contribution, in_kind, other]
        source_entity_type: { type: string }
        source_name: { type: string }
        csr_company_id: { type: string, format: uuid, nullable: true }
        csr_fiscal_year: { type: string, nullable: true }
        is_foreign_contribution: { type: boolean }
        fcra_reference: { type: string, nullable: true }
        campaign_id: { type: string, format: uuid, nullable: true }
        sanctioned_amount: { type: number, format: decimal }
        received_amount: { type: number, format: decimal }
        utilized_amount: { type: number, format: decimal }
        balance_amount: { type: number, format: decimal }
        currency: { type: string }
        total_installments: { type: integer }
        installments_received: { type: integer }
        status:
          type: string
          enum: [proposed, approved, partially_utilized, fully_utilized, returned, cancelled]
        sanctioned_date: { type: string, format: date }
        received_date: { type: string, format: date }
        utilization_start_date: { type: string, format: date }
        utilization_end_date: { type: string, format: date }
        utilization_certificate_required: { type: boolean }
        utilization_certificate_submitted: { type: boolean }
        utilization_certificate_url: { type: string }
        utilization_pct: { type: number, format: float }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProjectFundCreateRequest:
      type: object
      required: [fund_reference, source_type, sanctioned_amount]
      properties:
        fund_reference: { type: string }
        description: { type: string }
        source_type: { type: string, enum: [donation, csr_contribution, grant, government, corporate_sponsorship, internal_transfer, interest_income, fundraiser_collection, endowment_yield, foreign_contribution, in_kind, other] }
        source_entity_id: { type: string, format: uuid }
        source_entity_type: { type: string }
        source_name: { type: string }
        csr_company_id: { type: string, format: uuid }
        csr_fiscal_year: { type: string }
        is_foreign_contribution: { type: boolean }
        fcra_reference: { type: string }
        campaign_id: { type: string, format: uuid }
        sanctioned_amount: { type: number, format: decimal, minimum: 0.01 }
        received_amount: { type: number, format: decimal }
        currency: { type: string, default: INR }
        total_installments: { type: integer }
        sanctioned_date: { type: string, format: date }
        utilization_start_date: { type: string, format: date }
        utilization_end_date: { type: string, format: date }
        utilization_certificate_required: { type: boolean }
        notes: { type: string }

    ProjectFundUpdateRequest:
      type: object
      properties:
        description: { type: string }
        sanctioned_amount: { type: number, format: decimal }
        received_amount: { type: number, format: decimal }
        status: { type: string, enum: [proposed, approved, partially_utilized, fully_utilized, returned, cancelled] }
        utilization_certificate_submitted: { type: boolean }
        utilization_certificate_url: { type: string }
        notes: { type: string }

    ProjectFundInstallment:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_fund_id: { type: string, format: uuid }
        installment_number: { type: integer }
        amount: { type: number, format: decimal }
        expected_date: { type: string, format: date }
        received_date: { type: string, format: date, nullable: true }
        status: { type: string, enum: [pending, received, delayed, cancelled] }
        payment_reference: { type: string }
        bank_reference: { type: string }

    ProjectFundInstallmentRequest:
      type: object
      required: [installment_number, amount]
      properties:
        installment_number: { type: integer }
        amount: { type: number, format: decimal, minimum: 0.01 }
        expected_date: { type: string, format: date }
        received_date: { type: string, format: date }
        status: { type: string, enum: [pending, received, delayed, cancelled] }
        payment_reference: { type: string }
        bank_reference: { type: string }

    ProjectBudgetHead:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        head_code: { type: string }
        head_name: { type: string }
        parent_head_id: { type: string, format: uuid, nullable: true }
        description: { type: string }
        budgeted_amount: { type: number, format: decimal }
        revised_amount: { type: number, format: decimal, nullable: true }
        spent_amount: { type: number, format: decimal }
        committed_amount: { type: number, format: decimal }
        display_order: { type: integer }
        is_active: { type: boolean }

    ProjectBudgetHeadRequest:
      type: object
      required: [head_code, head_name, budgeted_amount]
      properties:
        head_code: { type: string }
        head_name: { type: string }
        parent_head_id: { type: string, format: uuid }
        description: { type: string }
        budgeted_amount: { type: number, format: decimal, minimum: 0 }
        revised_amount: { type: number, format: decimal }
        display_order: { type: integer }

    # ==================== ACTIVITIES ====================
    Activity:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        project:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            project_code: { type: string }
        activity_code: { type: string }
        name: { type: string }
        description: { type: string }
        activity_type: { type: string }
        category: { type: string }
        budget_head:
          type: object
          properties:
            id: { type: string, format: uuid }
            head_name: { type: string }
        estimated_cost: { type: number, format: decimal }
        actual_cost: { type: number, format: decimal }
        currency: { type: string }
        target_beneficiaries: { type: integer }
        actual_beneficiaries: { type: integer }
        target_quantity: { type: number }
        actual_quantity: { type: number }
        unit_of_measure: { type: string }
        outcome_description: { type: string }
        outcome_data: { type: object }
        planned_start_date: { type: string, format: date }
        planned_end_date: { type: string, format: date }
        actual_start_date: { type: string, format: date, nullable: true }
        actual_end_date: { type: string, format: date, nullable: true }
        status:
          type: string
          enum: [planned, in_progress, completed, on_hold, cancelled, deferred]
        priority:
          type: string
          enum: [critical, high, medium, low]
        completion_percentage: { type: number, format: float }
        location: { type: string }
        location_details: { type: object }
        branch:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        assigned_to:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        supervised_by:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        milestone:
          type: object
          properties:
            id: { type: string, format: uuid }
            title: { type: string }
        tags:
          type: array
          items: { type: string }
        expense_count: { type: integer }
        total_expenses: { type: number, format: decimal }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ActivityCreateRequest:
      type: object
      required: [project_id, activity_code, name]
      properties:
        project_id: { type: string, format: uuid }
        activity_code: { type: string }
        name: { type: string, minLength: 3 }
        description: { type: string }
        activity_type: { type: string }
        category: { type: string }
        budget_head_id: { type: string, format: uuid }
        estimated_cost: { type: number, format: decimal }
        currency: { type: string, default: INR }
        target_beneficiaries: { type: integer }
        target_quantity: { type: number }
        unit_of_measure: { type: string }
        planned_start_date: { type: string, format: date }
        planned_end_date: { type: string, format: date }
        priority: { type: string, enum: [critical, high, medium, low], default: medium }
        location: { type: string }
        location_details: { type: object }
        branch_id: { type: string, format: uuid }
        assigned_to_id: { type: string, format: uuid }
        supervised_by_id: { type: string, format: uuid }
        milestone_id: { type: string, format: uuid }
        tags:
          type: array
          items: { type: string }

    ActivityUpdateRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        activity_type: { type: string }
        budget_head_id: { type: string, format: uuid }
        estimated_cost: { type: number, format: decimal }
        actual_beneficiaries: { type: integer }
        actual_quantity: { type: number }
        outcome_description: { type: string }
        outcome_data: { type: object }
        actual_start_date: { type: string, format: date }
        actual_end_date: { type: string, format: date }
        status: { type: string, enum: [planned, in_progress, completed, on_hold, cancelled, deferred] }
        priority: { type: string, enum: [critical, high, medium, low] }
        completion_percentage: { type: number, format: float, minimum: 0, maximum: 100 }
        location: { type: string }
        assigned_to_id: { type: string, format: uuid }
        supervised_by_id: { type: string, format: uuid }
        milestone_id: { type: string, format: uuid }
        tags:
          type: array
          items: { type: string }

    # ==================== ACTIVITY EXPENSES ====================
    ActivityExpense:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        activity_id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        expense_code: { type: string }
        description: { type: string }
        amount: { type: number, format: decimal }
        tax_amount: { type: number, format: decimal }
        total_amount: { type: number, format: decimal }
        currency: { type: string }
        budget_head:
          type: object
          properties:
            id: { type: string, format: uuid }
            head_name: { type: string }
        project_fund:
          type: object
          properties:
            id: { type: string, format: uuid }
            fund_reference: { type: string }
        payee_name: { type: string }
        payee_type: { type: string, enum: [vendor, employee, volunteer, beneficiary, other] }
        payment_mode:
          type: string
          enum: [bank_transfer, cheque, cash, upi, card, dd, adjustment, in_kind]
        payment_reference: { type: string }
        payment_date: { type: string, format: date }
        bank_reference: { type: string }
        cheque_number: { type: string }
        invoice_number: { type: string }
        invoice_date: { type: string, format: date }
        invoice_url: { type: string }
        status:
          type: string
          enum: [draft, submitted, approved, rejected, paid, partially_paid, void]
        submitted_by:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        approved_by:
          type: object
          nullable: true
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        approved_at: { type: string, format: date-time, nullable: true }
        rejected_reason: { type: string, nullable: true }
        gst_applicable: { type: boolean }
        gst_rate: { type: number }
        tds_applicable: { type: boolean }
        tds_rate: { type: number }
        tds_amount: { type: number, format: decimal }
        is_fcra_expense: { type: boolean }
        receipt_url: { type: string }
        supporting_documents:
          type: array
          items:
            type: object
            properties:
              file_url: { type: string }
              file_name: { type: string }
              doc_type: { type: string }
        tags:
          type: array
          items: { type: string }
        notes: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ActivityExpenseCreateRequest:
      type: object
      required: [activity_id, expense_code, description, amount, total_amount]
      properties:
        activity_id: { type: string, format: uuid }
        expense_code: { type: string }
        description: { type: string, minLength: 5 }
        amount: { type: number, format: decimal, minimum: 0.01 }
        tax_amount: { type: number, format: decimal }
        total_amount: { type: number, format: decimal, minimum: 0.01 }
        currency: { type: string, default: INR }
        budget_head_id: { type: string, format: uuid }
        project_fund_id: { type: string, format: uuid }
        payee_name: { type: string }
        payee_type: { type: string, enum: [vendor, employee, volunteer, beneficiary, other] }
        payment_mode: { type: string, enum: [bank_transfer, cheque, cash, upi, card, dd, adjustment, in_kind] }
        payment_reference: { type: string }
        payment_date: { type: string, format: date }
        bank_reference: { type: string }
        cheque_number: { type: string }
        invoice_number: { type: string }
        invoice_date: { type: string, format: date }
        invoice_url: { type: string }
        gst_applicable: { type: boolean }
        gst_rate: { type: number }
        tds_applicable: { type: boolean }
        tds_rate: { type: number }
        tds_amount: { type: number, format: decimal }
        hsn_sac_code: { type: string }
        is_fcra_expense: { type: boolean }
        fcra_purpose: { type: string }
        receipt_url: { type: string }
        supporting_documents:
          type: array
          items:
            type: object
            properties:
              file_url: { type: string }
              file_name: { type: string }
              doc_type: { type: string }
        tags:
          type: array
          items: { type: string }
        notes: { type: string }

    ActivityExpenseUpdateRequest:
      type: object
      properties:
        description: { type: string }
        amount: { type: number, format: decimal }
        tax_amount: { type: number, format: decimal }
        total_amount: { type: number, format: decimal }
        budget_head_id: { type: string, format: uuid }
        project_fund_id: { type: string, format: uuid }
        payee_name: { type: string }
        payee_type: { type: string, enum: [vendor, employee, volunteer, beneficiary, other] }
        payment_mode: { type: string, enum: [bank_transfer, cheque, cash, upi, card, dd, adjustment, in_kind] }
        payment_reference: { type: string }
        payment_date: { type: string, format: date }
        invoice_number: { type: string }
        invoice_date: { type: string, format: date }
        invoice_url: { type: string }
        status: { type: string, enum: [draft, submitted, approved, rejected, paid, partially_paid, void] }
        rejected_reason: { type: string }
        gst_applicable: { type: boolean }
        tds_applicable: { type: boolean }
        is_fcra_expense: { type: boolean }
        receipt_url: { type: string }
        notes: { type: string }

    # ==================== EVENTS ====================
    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        event_type:
          type: string
          enum: [fundraising, distribution, seminar, iftar, qurbani]
        location:
          type: string
        branch:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
        is_online:
          type: boolean
        online_link:
          type: string
        max_attendees:
          type: integer
        registration_required:
          type: boolean
        registration_count:
          type: integer
        is_only_volunteers:
          type: boolean
          default: false
        status:
          type: string
          enum: [draft, published, archived]
        cover_image_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EventCreateRequest:
      type: object
      required:
        - title
        - start_datetime
        - event_type
      properties:
        title:
          type: string
          minLength: 3
        slug:
          type: string
        description:
          type: string
        event_type:
          type: string
          enum: [fundraising, distribution, seminar, iftar, qurbani]
        location:
          type: string
        branch_id:
          type: string
          format: uuid
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
        is_online:
          type: boolean
        online_link:
          type: string
        max_attendees:
          type: integer
        registration_required:
          type: boolean
        is_only_volunteers:
          type: boolean
          default: false
        cover_image_url:
          type: string

    # ==================== ZAKAT ====================
    ZakatCalculation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user:
          $ref: '#/components/schemas/User'
        gold_value:
          type: number
          format: decimal
        silver_value:
          type: number
          format: decimal
        cash_in_hand:
          type: number
          format: decimal
        cash_in_bank:
          type: number
          format: decimal
        investments:
          type: number
          format: decimal
        business_assets:
          type: number
          format: decimal
        receivables:
          type: number
          format: decimal
        other_assets:
          type: number
          format: decimal
        total_assets:
          type: number
          format: decimal
        total_liabilities:
          type: number
          format: decimal
        net_zakatable:
          type: number
          format: decimal
        nisab_threshold:
          type: number
          format: decimal
        zakat_amount:
          type: number
          format: decimal
        is_zakat_due:
          type: boolean
        calculation_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

    ZakatCalculationRequest:
      type: object
      required:
        - total_assets
        - total_liabilities
      properties:
        gold_value:
          type: number
          format: decimal
        silver_value:
          type: number
          format: decimal
        cash_in_hand:
          type: number
          format: decimal
        cash_in_bank:
          type: number
          format: decimal
        investments:
          type: number
          format: decimal
        business_assets:
          type: number
          format: decimal
        receivables:
          type: number
          format: decimal
        other_assets:
          type: number
          format: decimal
        total_assets:
          type: number
          format: decimal
        total_liabilities:
          type: number
          format: decimal

    ZakatDisbursement:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        category:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              description: One of 8 Asnaf categories
        beneficiary:
          $ref: '#/components/schemas/Beneficiary'
        amount:
          type: number
          format: decimal
        disbursement_date:
          type: string
          format: date
        branch:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        created_at:
          type: string
          format: date-time

    # ==================== QURBANI ====================
    QurbaniBooking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        booking_number:
          type: string
        user:
          $ref: '#/components/schemas/User'
        package:
          type: object
          properties:
            id:
              type: string
              format: uuid
            animal_type:
              type: string
              enum: [goat, sheep, cow, cow_share, camel]
            price:
              type: number
              format: decimal
            shares_total:
              type: integer
        season:
          type: object
          properties:
            id:
              type: string
              format: uuid
            year:
              type: integer
            slaughter_date:
              type: string
              format: date
        quantity:
          type: integer
        shares:
          type: integer
        total_amount:
          type: number
          format: decimal
        names_for:
          type: string
        status:
          type: string
          enum: [booked, confirmed, processing, completed, cancelled, refunded]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    QurbaniBookingRequest:
      type: object
      required:
        - package_id
        - quantity
      properties:
        package_id:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1
        shares:
          type: integer
        names_for:
          type: string

    # ==================== BRANCHES ====================
    Branch:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        code: { type: string }
        address: { type: string }
        city: { type: string }
        state: { type: string }
        phone: { type: string }
        email: { type: string }
        manager_id: { type: string, format: uuid }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    BranchCreateRequest:
      type: object
      required: [name, address]
      properties:
        name: { type: string }
        code: { type: string }
        address: { type: string }
        city: { type: string }
        state: { type: string }
        phone: { type: string }
        email: { type: string }
        manager_id: { type: string, format: uuid }
        is_active: { type: boolean }

    # ==================== FUNDRAISER EXTENSIONS ====================
    FundraiserImage:
      type: object
      properties:
        id: { type: string, format: uuid }
        image_url: { type: string }
        alt_text: { type: string }
        display_order: { type: integer }

    FundraiserUpdate:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        content: { type: string }
        posted_by: { type: string, format: uuid }
        created_at: { type: string, format: date-time }

    FundraiserDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        document_type: { type: string }
        file_url: { type: string }
        file_name: { type: string }

    QurbaniPackage:
      type: object
      properties:
        id: { type: string, format: uuid }
        animal_type: { type: string, enum: [goat, cow, cow_share, sheep, camel] }
        breed: { type: string }
        weight_kg: { type: number }
        price: { type: number }
        is_available: { type: boolean }
        shares_total: { type: integer }
        shares_booked: { type: integer }

    # ==================== CONTENT ====================
    BlogPost:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        content:
          type: string
        excerpt:
          type: string
        cover_image_url:
          type: string
        author:
          $ref: '#/components/schemas/User'
        status:
          type: string
          enum: [draft, published, archived]
        is_featured:
          type: boolean
        view_count:
          type: integer
        tags:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BlogPostCreateRequest:
      type: object
      required:
        - title
        - content
      properties:
        title:
          type: string
          minLength: 5
        slug:
          type: string
        content:
          type: string
          minLength: 50
        excerpt:
          type: string
        cover_image_url:
          type: string
        tags:
          type: array
          items:
            type: string

    # ==================== MEDIA ====================
    MediaItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        file_name:
          type: string
        file_url:
          type: string
        file_type:
          type: string
          enum: [image, video, document, audio]
        mime_type:
          type: string
        file_size:
          type: integer
        alt_text:
          type: string
        caption:
          type: string
        folder:
          type: string
        width:
          type: integer
        height:
          type: integer
        uploaded_by:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time

    # ==================== SETTINGS ====================
    SiteSetting:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        setting_key:
          type: string
        setting_value:
          type: string
        setting_type:
          type: string
          enum: [text, number, boolean, json, image]
        group_name:
          type: string
        updated_at:
          type: string
          format: date-time

    # ==================== AUDIT ====================
    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user:
          $ref: '#/components/schemas/User'
        action:
          type: string
          enum: [create, update, delete, login, logout]
        entity_type:
          type: string
        entity_id:
          type: string
          format: uuid
        old_values:
          type: object
          additionalProperties: true
        new_values:
          type: object
          additionalProperties: true
        ip_address:
          type: string
        user_agent:
          type: string
        created_at:
          type: string
          format: date-time

    # ==================== TESTIMONIALS ====================
    Testimonial:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        author_name: { type: string }
        role: { type: string }
        company: { type: string }
        content: { type: string }
        image_url: { type: string }
        rating: { type: integer, minimum: 1, maximum: 5 }
        is_featured: { type: boolean }
        display_order: { type: integer }
        created_at: { type: string, format: date-time }

    TestimonialCreateRequest:
      type: object
      required: [author_name, content]
      properties:
        author_name: { type: string }
        role: { type: string }
        company: { type: string }
        content: { type: string }
        image_url: { type: string }
        rating: { type: integer, minimum: 1, maximum: 5 }
        is_featured: { type: boolean }
        display_order: { type: integer }

    # ==================== GALLERY ====================
    GalleryAlbum:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        event_date: { type: string, format: date }
        is_featured: { type: boolean }
        media:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        created_at: { type: string, format: date-time }

    GalleryAlbumCreateRequest:
      type: object
      required: [title]
      properties:
        title: { type: string }
        description: { type: string }
        cover_image_url: { type: string }
        event_date: { type: string, format: date }
        is_featured: { type: boolean }

    # ==================== HOMEPAGE BANNERS ====================
    HomepageBanner:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        title: { type: string }
        subtitle: { type: string }
        image_url: { type: string }
        cta_text: { type: string }
        cta_link: { type: string }
        sort_order: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    HomepageBannerCreateRequest:
      type: object
      required: [title, image_url]
      properties:
        title: { type: string }
        subtitle: { type: string }
        image_url: { type: string }
        cta_text: { type: string }
        cta_link: { type: string }
        sort_order: { type: integer }
        is_active: { type: boolean }

    # ==================== IMPACT COUNTERS ====================
    ImpactCounter:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        title: { type: string }
        count_value: { type: number }
        suffix: { type: string }
        icon: { type: string }
        sort_order: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    ImpactCounterCreateRequest:
      type: object
      required: [title, count_value]
      properties:
        title: { type: string }
        count_value: { type: number }
        suffix: { type: string }
        icon: { type: string }
        sort_order: { type: integer }
        is_active: { type: boolean }

    # ==================== FAQS ====================
    FAQ:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        question: { type: string }
        answer: { type: string }
        category: { type: string }
        sort_order: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    FAQCreateRequest:
      type: object
      required: [question, answer]
      properties:
        question: { type: string }
        answer: { type: string }
        category: { type: string }
        sort_order: { type: integer }
        is_active: { type: boolean }

    # ==================== NGO SERVICES ====================
    NgoService:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        icon: { type: string }
        status: { type: string, enum: [active, inactive] }
        is_free: { type: boolean }
        display_order: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    NgoServiceCreateRequest:
      type: object
      required: [name]
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        icon: { type: string }
        is_free: { type: boolean }
        display_order: { type: integer }

    NgoServiceBooking:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        service:
          $ref: '#/components/schemas/NgoService'
        user_id: { type: string, format: uuid, nullable: true }
        name: { type: string }
        phone: { type: string }
        email: { type: string }
        address: { type: string }
        booking_date: { type: string, format: date }
        booking_time: { type: string }
        notes: { type: string }
        status: { type: string, enum: [pending, confirmed, completed, cancelled] }
        pickup_address: { type: string, nullable: true }
        drop_address: { type: string, nullable: true }
        donation_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    NgoServiceBookingRequest:
      type: object
      required: [service_id, name, phone, address, booking_date]
      properties:
        service_id: { type: string, format: uuid }
        name: { type: string }
        phone: { type: string }
        email: { type: string }
        address: { type: string }
        booking_date: { type: string, format: date }
        booking_time: { type: string }
        notes: { type: string }
        pickup_address: { type: string }
        drop_address: { type: string }
        donation_amount: { type: number }

    NgoServiceBookingStatusUpdateRequest:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [pending, confirmed, completed, cancelled] }

    # ==================== NOTIFICATIONS ====================
    NotificationChannel:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        channel_type: { type: string, enum: [email, sms, whatsapp, push] }
        provider_name: { type: string }
        config_name: { type: string }
        is_active: { type: boolean }
        is_default: { type: boolean }
        created_at: { type: string, format: date-time }

    NotificationTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        channel_type: { type: string }
        subject: { type: string }
        content: { type: string }
        language: { type: string }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    Notification:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        recipient: { type: string }
        template_id: { type: string, format: uuid }
        status: { type: string }
        priority: { type: integer }
        scheduled_at: { type: string, format: date-time }
        sent_at: { type: string, format: date-time }
        retry_count: { type: integer }
        created_at: { type: string, format: date-time }

    NotificationLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        notification_id: { type: string, format: uuid }
        status: { type: string }
        recorded_at: { type: string, format: date-time }

    # ==================== BILLING ====================
    Subscription:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        plan_id: { type: string, format: uuid }
        billing_cycle: { type: string, enum: [monthly, annually] }
        status: { type: string, enum: [active, past_due, cancelled, trialing] }
        current_period_start: { type: string, format: date-time }
        current_period_end: { type: string, format: date-time }
        cancel_at_period_end: { type: boolean }
        created_at: { type: string, format: date-time }

    Invoice:
      type: object
      properties:
        id: { type: string, format: uuid }
        invoice_number: { type: string }
        status: { type: string, enum: [draft, open, paid, uncollectible, void] }
        currency: { type: string }
        total: { type: number }
        amount_remaining: { type: number }
        due_date: { type: string, format: date }
        customer_id: { type: string, format: uuid }
        subscription_id: { type: string, format: uuid }
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'

    InvoiceItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        description: { type: string }
        quantity: { type: integer }
        unit_amount: { type: number }
        amount: { type: number }

    BillingPlan:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        monthly_price: { type: number }
        currency: { type: string }
        features: { type: object }

    HsnMaster:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        hsn_code: { type: string }
        hsn_type: { type: string, enum: [service, goods, nil, exempted, no-gst] }
        description: { type: string }
        cgst_rate: { type: number }
        sgst_rate: { type: number }
        igst_rate: { type: number }
        cess_rate: { type: number }
        total_gst_rate: { type: number }
        is_nil_rated: { type: boolean }
        created_at: { type: string, format: date-time }

    UomMaster:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        code: { type: string }
        name: { type: string }
        created_at: { type: string, format: date-time }

    Customer:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        email: { type: string }
        phone: { type: string }
        gstin: { type: string }
        billing_address: { type: string }
        city: { type: string }
        state: { type: string }
        pincode: { type: string }
        country: { type: string }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    ItemType:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }

    ItemMaster:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        item_type_id: { type: string, format: uuid }
        uom_id: { type: string, format: uuid }
        name: { type: string }
        sku: { type: string }
        description: { type: string }
        base_price: { type: number }
        is_active: { type: boolean }
        revenue_head_id: { type: string, format: uuid }

    RevenueHead:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        calculation_basis: { type: string }
        uom_id: { type: string, format: uuid }
        frequency: { type: string }
        amount: { type: number }
        custom_amount: { type: number }
        is_active: { type: boolean }
        account_mapping:
          $ref: '#/components/schemas/RevenueHeadAccount'
    AccountType:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        normal_balance: { type: string, enum: [debit, credit] }

    AddressMaster:
      type: object
      properties:
        id: { type: string, format: uuid }
        city_district: { type: string }
        state: { type: string }
        countryCode: { type: string }
        country: { type: string }
        state_gst_code: { type: string }
        is_union_territory: { type: boolean }
        is_active: { type: boolean }

    ChartOfAccount:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        account_code: { type: string }
        name: { type: string }
        account_type_id: { type: string, format: uuid }
        parent_account_id: { type: string, format: uuid }
        description: { type: string }
        is_active: { type: boolean }
        is_system_account: { type: boolean }

    RevenueHeadAccount:
      type: object
      properties:
        tenant_id: { type: string, format: uuid }
        revenue_head_id: { type: string, format: uuid }
        revenue_account_id: { type: string, format: uuid }
        receivable_account_id: { type: string, format: uuid }

    LedgerEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        journal_entry_id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        party_type: { type: string }
        party_id: { type: string, format: uuid }
        debit_amount: { type: number, format: float }
        credit_amount: { type: number, format: float }
        created_at: { type: string, format: date-time }

    JournalEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        entry_date: { type: string, format: date }
        description: { type: string }
        reference_type: { type: string }
        reference_id: { type: string, format: uuid }
        status: { type: string, enum: [draft, posted, void] }
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LedgerEntry'

    Ledger:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        coa_id: { type: string, format: uuid }
        parent_ledger_id: { type: string, format: uuid }
        name: { type: string }
        account_code: { type: string }
        description: { type: string }
        ledger_type: { type: string, enum: [GL, Bank, Cash, Control Ledger, Sub-Ledger] }
        control_ledger_type: { type: string, enum: [vendor, customer, normal, employee] }
        contact_person: { type: string }
        contact_phone: { type: string }
        contact_email: { type: string }
        is_active: { type: boolean }
        tax_details:
          type: array
          items: { $ref: '#/components/schemas/LedgerTaxDetail' }
        bank_accounts:
          type: array
          items: { $ref: '#/components/schemas/LedgerBankAccount' }
        licenses:
          type: array
          items: { $ref: '#/components/schemas/LedgerLicense' }

    LedgerTaxDetail:
      type: object
      properties:
[...]
